
@model List<TeamGetVM>


<div class="col-lg-8 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Table with contextual classes</h4>
            <p class="card-description">
                Team Members
            </p>
            <a class="btn btn-outline-primary" asp-area="manage" asp-controller="TeamMembers" asp-action="Create">Create+</a>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                №
                            </th>
                            <th>
                                FullName
                            </th>
                            <th>
                                Prefession
                            </th>
                            <th>
                                İmage
                            </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                       @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr class="table-warning">
                                <td>
                                    @(i+1)
                                </td>
                                <td>
                                    @Model[i].FullName
                                </td>
                                <td>
                                    @Model[i].Prefession
                                </td>
                                <td>
                                    <img src="~/assets/img/@Model[i].ImageUrl">
                                </td>
                                <td>
                                    <a class="btn btn-outline-light" asp-area="manage" asp-controller="TeamMembers" asp-action="Update" style="color:midnightblue" asp-route-id="@Model[i].Id"><i class="bi bi-pen-fill"></i></a>
                                    <a class="btn btn-outline-light" asp-area="manage" asp-controller="TeamMembers" asp-action="Delete" style="color:darkred" asp-route-id="@Model[i].Id"><i class="bi bi-trash-fill"></i></a>
                                </td>
       
                            </tr>
                        }
                   
               
                </table>
            </div>
        </div>
    </div>
</div>